# macOS
.DS_Store
._*
.AppleDouble
.LSOverride

# Design source files (not for web)
*.psd
*.tif
*.TIF

# Large unreferenced source videos
02_fashion/The_Odd_Denim/Timeline 1(1).mp4
02_fashion/The_Odd_Denim/Timeline 1.mp4
02_fashion/The_Odd_Denim/WhatsApp Video 2025-05-21 at 09.00.35.mp4
04_theater-costume/Colombian_Power/colombian_power_01.mp4
05_music/The_New_Love_Experience/nlx_03.mov
05_music/The_New_Love_Experience/nlx_04.mov
